<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540601977516-hpqkun35tngsjavcpn87tri90a38qpm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540601977516-hpqkun35tngsjavcpn87tri90a38qpm5</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYFdEzj9KVlZJXRcSK55lx3KAUaiDh4s</string>
	<key>GCM_SENDER_ID</key>
	<string>540601977516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRiverFlow</string>
	<key>PROJECT_ID</key>
	<string>flutter-river-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-river-flow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540601977516:ios:019e2738a04759c5692d09</string>
</dict>
</plist>